/* importing two font families from google fonts api */
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@900&family=Outfit:wght@100&display=swap');


/* strting desktop view */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h6,h5,h4,h3, h2, h1 {
    font-family: 'Big Shoulders Display', cursive;
}
#mobile , #mobile-2{
  display: none;
}
.gly-t-s h2{
    width: 300;
    font-size: 50px;
    line-height: 45px;
    font-weight: 900;
}
.gly-t-s p{
    width: 300;
    word-spacing: 4.5;
    font-size: 17px;
}


.gly-t-s h2{
    width: 300;
}
body, p {
    font-size: 17px;
    line-height: 32px;
    font-weight: 50;
    text-rendering: auto;
    padding-bottom: 30;
    color: #444444;
    font-family: "Outfit", sans-serif;
}

h1 {
  font-size: 70px;
  line-height: 65px;
  font-weight: 700;
  font-style: initial;
  padding: relative;
}

h2 {
  font-size: 70px;
  line-height: 70px;
}

h3 {
  font-size: 60px;
  line-height: 50px;
}

body {
  color: #151515;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

button {
  height: 3rem;
  border: none;
  color: #FFFFFF;
  font-weight: 700;
  padding: 0 0.75rem;
  transition: all 0.25s ease-out;
}
button:nth-child(1) {
  background-color: #151515;
}
button:nth-child(2) {
  background-color: #D5966C;
}

a {
  text-decoration: none;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 13rem;
}
a button:nth-child(1) {
  grid-column: 1/6;
  grid-row: 1/5;
}
a button:nth-child(2) {
  grid-column: 2/7;
  grid-row:  1;
}

button:nth-child(1) {
  z-index: 1;
}
button:nth-child(2) {
  text-align: right;
}

.home h1 {
  background: linear-gradient(to right, #FFFFFF 60%, #151515 50%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.home a {
  transition: all 0.5s ease-out;
}
.home a:hover > button:nth-child(1) {
  background-color: #D5966C;
  cursor: pointer;
}
.home a:hover > button:nth-child(2) {
  background-color: #151515;
  cursor: pointer;
}

.bnr {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  height: 100vh;
}
.bnr-g:nth-child(1) {
  background-color: #151515;
  grid-column: 1/5;
  grid-row: 1;
}
.bnr-g:nth-child(2) {
  background: url("../images/desktop/image-hero.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  grid-column: 5/9;
  grid-row: 1;
}
.bnr-g:nth-child(3) {
  grid-column: 9/12;
  grid-row: 1;
}
.bnr-g:nth-child(4) {
  grid-column: 2/8;
  grid-row: 1;
  margin: auto;
  padding-right: 60;
  padding-bottom: 130;
}
.bnr-g:nth-child(5) {
  grid-column: 8/11;
  grid-row: 1;
  margin: auto;
  margin-left: 2rem;
}
.bnr a {
  margin-top: 3rem;
  margin-left: 1.7rem;
}




/* gallary styling */



.gly {
  margin: 5rem 5%;
}
.gly p {
  margin: 3rem 0;
}
.gly-top {
  display: grid;
  grid-template-columns: 3fr 5fr;
}
.gly-t-s:nth-child(1) {
  margin: 2rem 0;
}
.gly-t-s:nth-child(2) {
  background: url("../images/desktop/image-grid-1.jpg");
 background-size: 100%;
  background-repeat: no-repeat;
}
.gly-b {
  margin: 3rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas: "textImage ImageGride" "textImage ImageWithTextGride";
  gap: 1rem;
}
.gly-b-s:nth-child(1) {
  grid-area: textImage;
}
.gly-b-s:nth-child(1) img {
  width: 100%;
  height: 100%;
}
.gly-b-s:nth-child(2) {
  grid-area: ImageGride;
}
.gly-b-s:nth-child(2) img {
  width: 100%;
  height: 100%;
}
.gly-b-s:nth-child(3) {
  grid-area: ImageWithTextGride;
  background-color: #151515;
  color: #FFFFFF;
  padding: 5rem;
}

.gly-b-s h2{
    width: 300;
    font-weight: 700;
    font-style: normal;
}


.gly-b-s p{
    width: 350;
    font-size: 20;
    font-weight: 50;
    color: #FFFFFF;
}






/* footer styling for desktop view */

.footer{
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: 0px;
    background: #151515;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    padding: 50px;
    padding-left: 100px;
    padding-right: 100px;
    color: white;
}

.social{
    flex: 4;
    display: flex;
    padding-top: 30px;
    justify-content: end;
}

.message{
    flex: 4;
    display: flex;
    font-weight: 100;
    font-size: 0.95rem;
    line-height: 28px;
    padding-top: 20px;
    justify-content: center;
    align-items: center;
}


.quote{
    color: #FFFFFF;
    font-size: 16;
    font-weight: 50;
}
.bland{
    display: flex;
    flex: 4;
    padding-top: 20px;
}

.social-links li{
list-style: none;
padding-right: 20px;
}

svg{
  fill: rgb(251, 249, 247);
}

svg:hover{
    fill:#D5966C;
    cursor: pointer;
}

.social-links{
    display: flex;
}

.locationFoter{
  bottom: 0px;
    left: 0px;
    right: 0px;
    margin: 0px;
    background: #D5966C;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    padding: 50px;
    padding-left: 100px;
    padding-right: 100px;
    color: #151515;
}

.locationsocial:hover{
  fill:#FFFFFF;
  cursor: pointer;
}

.locationsocial{
  fill:#151515;
}

.quoteLocation{
  color: #151515;
}

.address{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  color: #FFFFFF;
  background-color: #151515;
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 70px;
  padding-bottom: 70px;
}

.section-1{
  flex: 1;
  color: white;
  justify-content: center;
}

.section-2{
  flex: 1;
  color: white !important;
}

.section-1 h1{
  width: 300px;
}

.h2-uppercase , .h3-uppercase{
  text-transform: uppercase;
}

.h3-gold{
  color: #D5966C;
  font-size: 35px;
  padding-bottom: 15px;
}

.p-light {
  color: #FFFFFF;
  font-size: 16px;
  word-spacing: 5;
}

.address_p{
  padding-bottom: 20px;
}

.p-messsage{
  padding-top: 20px;
}

#maps{
  background-image: url("/images/desktop/image-map.png");
  height: 600px;
  width: 100%;
}


a .btn-l:nth-child(1) {
  grid-column: 1;
  grid-row: 1;
  background-color: #D5966C;
}
a .btn-l:nth-child(2) {
  grid-column: 2/7;
  grid-row:  1/5;
  background-color: #151515;
}


 a:hover > .btn-l:nth-child(2) {
  background-color: #D5966C;
  cursor: pointer;
}
 a:hover > .btn-l:nth-child(1) {
  background-color: #151515;
  cursor: pointer;
}

.r-left{
  transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
}
.p-l{
  margin-left: 153px;
}

.marker{
position: absolute;
top: 200px;
left: 55%;
display: inline-flex;
text-align: center;
}

.description{
  background-color: #181616ca;
  width: 400px;
  border-radius: 10px;
  display: none;
  font-family: monospace;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.description p, .description address{
  color: #dedcdc;
  text-align: justify;
  padding: 20px;
  font-size: small;
  line-height: 1.2;
}

.maker-image{
  cursor: pointer;
}

.marker:hover .description{
  display: block;
}

.marker:hover .maker-image{
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}



@media only screen and (max-width: 950px) {
 
  h1 {
    font-size: 50px;
    line-height: 50px;
    font-weight: 700;
    font-style: initial;
    padding: relative;
  }
  
  h2 {
    font-size: 50px;
    line-height: 50px;
  }
  
  h3 {
    font-size: 40px;
    line-height: 40px;
  }

  .gly-b-s:nth-child(1) img {
    height: 100%;
  }
  .gly-b-s:nth-child(2) img {
    height: 100%;
  }
  .gly-b-s:nth-child(3) {
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 0rem;
  }
  .gly p {
    margin-top: 2rem 0;
  }
  .bnr a {
    margin-left: 0.2rem;
  }

  .bnr-g:nth-child(5) {
    grid-column: 8/13;
    margin-left: 1rem;
  }
  .gly-t-s:nth-child(1) {
    margin: 0 0;
  }
}



/* end desktop view */

@media only screen and (max-width: 900px) {
  #maps{
    background-image: url("/images/tablet/image-map.png");
    height: 600px;
    width: 100%;
  }
}

/* start tablet vew */

@media only screen and (max-width: 750px) {
  

  .bnr{
  margin-bottom: 50px;
  padding-bottom: 50px;
  }

  h1 {
    font-size: 40px;
    line-height: 40px;
    font-weight: 700;
  }
  h2 {
    font-size: 40px;
    line-height: 40px;
  }
  
  h3 {
    font-size: 25px;
    line-height: 30px;
  }

  
  .gly-b-s:nth-child(3) {
    padding-top: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 0rem;
  }
  .gly p {
    margin-top: 1rem 0;
  }
  .bnr a {
    margin-left: 0.1rem;
  }

  .bnr-g:nth-child(5) {
    grid-column: 7/12;
    margin-left: 1rem;
    margin-top: 270px;
    padding-top: 0px;
  }
  .bnr-g:nth-child(1) {
    display: none;
  }
  .bnr-g:nth-child(2) {
    grid-column: 1/8;
    grid-row: 1;
  }
  .home h1 {
    background: linear-gradient(to right, #151515 60%, #151515 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .bnr-g:nth-child(4) {
    grid-column: 7/12;
    grid-row: 1;
    margin: auto;
    padding-right: 60;
    margin-top: 130px;
    padding-bottom: 0PX;
  }
  .gly-t-s h2{
    width: 250;
    font-size: 30px;
    line-height: 30px;
    font-weight: 700;
}

.footer{
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: 0px;
  background: #151515;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  padding: 50px;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
}
.message{
  flex: 6;
}

.address{
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 70px;
  padding-bottom: 70px;
}
.section-2{
  flex: 4;
}
.section-1 h1{
  width: 200px;
}

.locationFoter{
    padding-left: 50px;
    padding-right: 50px;
}

.marker{
  display: flex;
  flex-direction: column;
  }
  .description{
    width: 100%;
  }
 
#maps{
  height: 500px;
}
#mobile-2{
  src: url("./images/mobile/image-grid-1.jpg");
}
#mobile-3{
  src: url("./images/tablet/image-grid-2.jpg");
}
#mobile-4{
  src: url("./images/tablet/image-grid-3.jpg");
}

}
/* end of tablet view */

/* start mobile view */

@media only screen and (max-width: 615px){
  #maps{
    background-image: url("/images/mobile/image-map.png");
    height: 600px;
    width: 100%;
  }
.bnr{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
  padding-bottom: 20px;
  height: auto;
}
.bnr-g:nth-child(2) {
  background: url(".");
  background-size: cover;
  background-repeat: no-repeat;
  grid-column: 5/9;
  grid-row: 1;
}

.bnr-g:nth-child(1){
  display: none;
}

.bnr-g:nth-child(3){
  display: none;
}
#mobile{
  display: block;
image-rendering: optimizeSpeed;
}
#mobile-2{
display: block;
image-rendering: optimizeSpeed;
}

.bnr-g:nth-child(2){
  width: 100%;
  height: 400px;
  display: relative;
}

.bnr-g:nth-child(4){
  margin: 20px;

}
.bnr-g:nth-child(4) h1{
  font-size: 60px;
  line-height: 55px;

}
.bnr-g:nth-child(5){
  margin-left: 20px;
  margin-top: 0px;
  margin-right: 20px;
  margin-bottom: 0px;
  padding-bottom: 0px;
}
.bnr-g:nth-child(5) a{ 
  margin-top: 0px;
  margin-right: 20px;
  width: 60%;
  margin-bottom: 0px;
  padding-bottom: 0px;
}

.gly{
  display: flex;
  flex-direction: column;
  padding-top: 70px;
}
.gly-top{
  display: flex;
  flex-direction: column;
}
.gly-t-s:nth-child(1) p{
  width: 100%;
  padding: 0px;
  margin: 0px;
}
.gly-t-s:nth-child(1) h2{
  width: 100%;
  padding: 0px;
  font-size: 50px;
  line-height: 50px;
  margin: 0px;
}

.gly-t-s:nth-child(1){
  padding-top: 20px;
  order: 2;
  
}

.gly-t-s:nth-child(2) img{
  width: 100%;
}
.gly-b{
  display: flex;
  flex-direction: column;
}
.inspired:nth-child(3) h2{
  width: 100%;
  font-size: 50px;
  line-height: 50px;
}
.inspired:nth-child(3) p{
  width: 100%;
}

.footer{
  display: flex;
  flex-direction: column;
}
.h3-like{
font-size: 45px;
line-height: 45px;
}

.social-links{
  text-align: left;
  padding: 0px;
  margin: 0px;
}
.social{
  padding-left: 0px;
  flex: 1;
  padding-top: 0px;
  justify-content: start;
}
.quote{
  padding-bottom: 20px;
}
.p-l{
  margin-left: 60px;
}
.address{
  flex-direction: column;
}

.address h1{
  width: 100%;
  padding-bottom: 50px;
}

.locationFoter{
  flex-direction: column;
}
.message{
  padding-bottom: 50px;
}
#maps{
  height: 450px;
}
#mobile-2{
  src: url("./images/mobile/image-grid-1.jpg");
}
#mobile-3{
  src: url("./images/mobile/image-grid-2.jpg");
}
#mobile-4{
  src: url("./images/mobile/image-grid-3.jpg");
}
}
/* end mobile view */

/* THE END!!! */